@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --12-regular-font-family: "Roboto", Helvetica;
  --12-regular-font-size: 12px;
  --12-regular-font-style: normal;
  --12-regular-font-weight: 400;
  --12-regular-letter-spacing: 0px;
  --12-regular-line-height: 100%;
  --14-regular-font-family: "Roboto", Helvetica;
  --14-regular-font-size: 14px;
  --14-regular-font-style: normal;
  --14-regular-font-weight: 400;
  --14-regular-letter-spacing: 0px;
  --14-regular-line-height: 18px;
  --16-bold-font-family: "Roboto", Helvetica;
  --16-bold-font-size: 16px;
  --16-bold-font-style: normal;
  --16-bold-font-weight: 700;
  --16-bold-letter-spacing: 0px;
  --16-bold-line-height: 100%;
  --20-bold-font-family: "Roboto", Helvetica;
  --20-bold-font-size: 20px;
  --20-bold-font-style: normal;
  --20-bold-font-weight: 700;
  --20-bold-letter-spacing: 0px;
  --20-bold-line-height: 100%;
  --28-bold-font-family: "Roboto", Helvetica;
  --28-bold-font-size: 28px;
  --28-bold-font-style: normal;
  --28-bold-font-weight: 700;
  --28-bold-letter-spacing: 0px;
  --28-bold-line-height: 100%;
  --blue: rgba(77, 134, 236, 1);
  --dark-blue: rgba(20, 76, 145, 1);
  --drop:
    0px 2px 4px 0px rgba(0, 0, 0, 0.03), 0px 4px 5px 0px rgba(0, 0, 0, 0.02), 0px 1px 10px 0px rgba(
      0,
      0,
      0,
      0.12
    );
  --gray-3: rgba(234, 236, 239, 1);
  --gray-4: rgba(212, 217, 223, 1);
  --gray-5: rgba(184, 193, 202, 1);
  --gray-6: rgba(156, 168, 181, 1);
  --gray-7: rgba(102, 118, 134, 1);
  --gray-8: rgba(76, 85, 96, 1);
  --gray-9: rgba(33, 40, 50, 1);
  --light-blue: rgba(228, 237, 252, 1);
  --red-error: rgba(226, 62, 87, 1);
  --typography-caption-font-family: "Roboto", Helvetica;
  --typography-caption-font-size: 12px;
  --typography-caption-font-style: normal;
  --typography-caption-font-weight: 400;
  --typography-caption-letter-spacing: 0.4000000059604645px;
  --typography-caption-line-height: 166%;
  --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
